@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Courier+Prime&family=Montserrat&family=Open+Sans:wght@300&family=Source+Code+Pro:wght@300&family=Space+Mono&display=swap');

html, body {
    background: rgb(25,25,25);
    background: linear-gradient(126deg, rgba(25,25,25,1) 0%, rgba(28,28,28,1) 28%, rgba(15,15,15,1) 56%, rgba(0,0,0,1) 100%);
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    color: white;
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#main {
    margin-left: 20px;
    transition: all 750ms;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    color:rgb(209, 209, 209);
}

h3 {
    font-size: 30px;
    color:rgb(180, 180, 180);
}

.menu {
    position: fixed;
    z-index: 9999999;
    height: 100%;
    width: 0;
    overflow: auto;
    transition: all 750ms;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-right: solid white 5px;
    background: rgb(11, 11, 11);
}

.menu-item {
    position: relative;
    height: 25vh;
    filter: blur(2px);
    transition: all 500ms;
}

.menu-item:hover {
    background: #151515;
    filter: blur(0px);
}

.menu-item-inner {
    position: absolute;
    text-decoration: underline solid transparent;
    font-size: 30px;
    top: 50%;
    left: 10%;
    letter-spacing: 2px;
    color: white;
}

.menu-item-inner:hover {
    color: #f6f6f6;
}

#ToggleMenu {
    position: absolute;
    z-index: 100000000;
    right: 0;
    background: black;
    width: 40px;
    height: 40px;
    border-bottom: solid white 1px;
    border-left: solid white 1px;;
    cursor: pointer;
}

.button-dot {
    right: -35px;
    top: -35px;
    position: absolute;
    height: 105px;
    width: 105px;
    background: rgb(25,25,25);
    background: linear-gradient(126deg, rgba(25,25,25,1) 0%, rgba(28,28,28,1) 28%, rgba(15,15,15,1) 56%, rgba(0,0,0,1) 100%);
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    z-index: 99999999;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu::-webkit-scrollbar {
    display: none;
}

.icon {
    width: 50px;
    height: 50px;
    filter: invert(70%);
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50px);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
}

a {
    text-decoration: underline solid transparent;
    transition: all 500ms;
}

a:hover {
    text-shadow:0px 0px 30px #f0f0f0;
    text-decoration: underline solid Currentcolor;
}